@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif !important;
}

a {
  color: #f5b000;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.categoryName {
  display: inline-block;
  font-size: 35px;
  font-weight: 700;
  box-shadow: inset 0 -3px 0 0 #ffcd3f;
}

.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}
